/************ Custom Font ************/
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Book.ttf");
  font-weight: 400;
}

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth; /* Enables smooth scrolling */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in-out; /* Smooth transition for direction changes */
}

body.rtl {
  direction: rtl; /* Right-to-left layout for Arabic */
  text-align: right;
}

body.ltr {
  direction: ltr; /* Left-to-right layout for English */
  text-align: left;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent; /* Transparent by default */
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
  z-index: 1000;
}

.navbar.scrolled {
  background-color: rgba(
    34,
    34,
    34,
    0.9
  ); /* Solid or semi-transparent on scroll */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow on scroll */
}

.nav-logo {
  display: flex;
  align-items: center;
  margin-right: auto; /* Align logo to the left */
}

.nav-logo img {
  width: 70px; /* Adjust the size of the logo */
  height: auto;
  object-fit: contain;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px; /* Increased gap for more spacing */
  margin: 0; /* Remove auto margin */
}

.nav-links li {
  display: inline;
  text-align: center;
  transition: background-position-x 0.5s linear;
}

.nav-links a {
  text-decoration: none;
  color: white;
  padding: 10px;
  font-weight: bold; /* Makes the text bold */
  font-size: 18px;
  transition: all 0.2s;
}

.nav-links li:hover {
  background: linear-gradient(to right, transparent, rgba(0, 128, 128, 0.7), transparent); /* Teal gradient */
  background-size: 200% 100%;
  /* background: url("./assets/img/nav-animation.svg");
  animation: line 10s ease-in-out infinite alternate; */
  animation: line 1.5s ease-in-out infinite alternate;

}

.nav-links li:not(:last-child) {
  margin-right: 30px;
}

@keyframes line {
  0% {
    background-position-x: 200%;
  }
  100% {
    background-position-x: 0%;
  }
}
.sticky {
  background-color: #222;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Language switch button */
.language-switch {
  background-color: rgb(29, 125, 125);
  color: white;
  border: none;
  font-size: 12px; /* Reduce font size */
  padding: 2px 5px;  /* Smaller padding */
  border-radius: 3px; /* Smaller border-radius */
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: auto; /* Push the button to the end */
}

.language-switch:hover {
  color: rgb(29, 125, 125) !important;
  background-color: white;
  /* font-weight: bold; */
}

/* Section styles */
.section {
  min-height: 100vh;
  padding: 7rem 2rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns content to the top */
  justify-content: flex-start; /* Moves content to the top */
}

h2 {
  padding-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
  margin-top: 0; /* Ensures it starts from the top */
}

/* Home section */
.home-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5); /* Translucent black background */
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: opacity 1.5s ease; /* Smooth fade transition */
}

.background-video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
  z-index: 1; /* Overlay above the video */
  pointer-events: none; /* Allow interaction with the video */
  opacity: 0; /* Initially transparent */
  transition: opacity 1.5s ease; /* Fade-in effect */
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  z-index: 1; /* Content above the video */
}

.home-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-img {
  max-width: 90%;
  max-height: 400px;
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px;
}

.home-content {
  flex: 1;
  color: white;
  text-align: left;
  padding: 20px;
}

.home-content h1 {
  font-size: 3rem;
}

.home-content p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #ddd;
}

/* Services Section */
.services-section {
  padding: 5rem 1rem 1rem; /* Add more padding at the top */
  background-color: #f8f9fa;
  color: #333;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content horizontally */
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.service-wrapper {
  position: relative;
  width: 100%;
  height: auto;
}

.service-card {
  background: #fff;
  padding: 2rem;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out;
  position: relative;
  z-index: 1;
  transform: translateY(10px);
}

.service-wrapper:hover .service-card {
  transform: translateY(0);
}

.service-gif {
  width: 70%;
  max-width: 100px;
  height: auto;
  margin-bottom: 1.5rem;
  border-radius: 8px;
}

.service-card h3 {
  font-size: 1.5rem;
}

/* Service Description */
.service-description {
  width: 100%;
  background: rgba(29, 125, 125, 0.95);
  color: white;
  padding: 1.4rem;
  font-size: 1rem;
  border-radius: 0 0 10px 10px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-100px);
}

.service-wrapper:hover .service-description {
  opacity: 1;
  max-height: 100%;
  transform: translateY(0);
}

.service-description p {
  text-align: center;
  margin: 0 auto;
  max-width: 90%;
}

.read-more {
  background-color: transparent;
  border: none;
  padding: 0.3rem 0.3rem;
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-weight: 500;
  align-self: flex-end;
  margin-right: 0.3rem;
}

.read-more:hover {
  color: rgba(14, 96, 96, 0.985);
}

/* About Section */
.about-section {
  padding: 5rem 2rem;
  background-color: #121212;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 3rem;
}

.about-details {
  flex: 2;
}

.about-location {
  flex: 1;
  text-align: center;
}

.about-location iframe {
  width: 100%;
  height: 300px;
  border: none;
}

/* Contact Section */
.contact-section {
  padding: 5rem 2rem;
  background-color: #f8f9fa;
  color: #333;
  margin-left: 30px; /* Add space to the left of the contact section */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 3rem;
}
.company-message {
  padding: 3rem;
}
.company-message h3 {
  padding: 1.5rem 0rem;
}
.company-message p {
  flex: 1;
}

.social-icons {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  gap: 1rem; /* Add spacing between items */
  margin-top: 1rem;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Add spacing between icon and text */
  text-decoration: none;
  color: #333;
  font-size: 1rem;
}

.contact-item:hover {
  color: #007bff; /* Change color on hover */
}

.contact-form-box {
  flex: 1;
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.contact-form textarea {
  height: 150px;
}

/* Footer */
footer {
  background-color: #000;
  padding: 2rem;
  color: #fff;
  text-align: center;
}

footer p {
  margin: 0;
}
